<section class="container m-auto mt-5 outer p-3 rounded-3">
  <div class="container  rounded-3 shadow-lg pt-3 pb-1 px-4 bg-transparent" id="my_slider">
    <h5 style="font-family:'Dancing Script', cursive;" class=" text-center">
      My Slideshow</h5>
    <div class="m-auto py-3" id="fig-div">
      <img [src]="imgUrl" class="rounded-1" id="img" style="height: 400px;width: 700px;">
    </div>
    <div class="d-flex justify-content-center my-3">
      <button class="btn btn-primary mx-2" [disabled]="prevDisabled" (click)="showPrevImg()"><i
          class="bi bi-caret-left-fill text-white"></i></button>
      <button class="btn btn-primary mx-2" [disabled]="playDisabled"(click)="startAutoSlider()"><i class="bi bi-power text-white"></i></button>
      <button class="btn btn-primary mx-2" [disabled]="StopDisabled"(click)="stopAutoSlider()"><i class="bi bi-stop-fill text-white"></i></button>
      <button class="btn btn-primary mx-2" [disabled]="nextDisabled"(click)="showNextImg()"><i
          class="bi bi-caret-right-fill text-white"></i></button>
    </div>
  </div>
</section>
